
.stock_content {
font-size: 12px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	margin: auto;
}
.title {
font-size: 12px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	margin: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left:10px;	
}
.stock_content li {
	height: 20px;
}

.recipes_content {
font-size: 12px;
	width: 225px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	margin: auto;
	padding: 5px;
}
.recipes_content li {
	line-height: 20px;
	height: 20px;
}
a.TabbedPanelsTab {
	position: relative;
	display:block;
	top: 0px;
	float: left;
	width:30px;
	text-align:center;
	line-height:20px;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
	font-family: "ו";
	font-size: 12px;
	font-weight: normal;
	color: #388BB5;
	background-image: url(../iwork_img/images/table/headerbg3.gif);
	background-color:#EAE9E7;
	border:0px 0px;
	border-bottom-style:none;
	border-top-color: #bfe8fd;
	border-right-color: #bfe8fd;
	border-left-color: #bfe8fd;
}
.TabbedPanelsTabGroup{
height:20px;
}
.selectTab {
	position: relative;
	display:block;
	top: 0px;
	float: left;
	width:38px;
	text-align:center;
	line-height:20px;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
	font-family: "ו";
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	background-image: url(../iwork_img/images/table/headerbg3.gif);
	background-color:#7B7660;
	border:0px 0px;
	border-bottom-style:none;
	border-top-color: #bfe8fd;
	border-right-color: #bfe8fd;
	border-left-color: #bfe8fd;
}


.white12px {
	FONT-SIZE: 12px;
	FILTER: DropShadow(Color="#000000", OffX="1", OffY="1", Positive="135");
	COLOR: #ffffff;
	TEXT-DECORATION: none
}
.whitelink {
	FONT-SIZE: 12px;
	FILTER: DropShadow(Color="#000000", OffX="1", OffY="1", Positive="135");
	COLOR: #ffffff;
	TEXT-DECORATION: none
}
.oneNewStyle{
	background-color:#BFBFBF;
	color:#FFFFFF;
}
.selectedNewStyle{
	background-color:#FF6600;
	color:#FFFFFF;
}
.daohangNewStyle{
	background-color:#BFBFBF;
	color:#666666;
}
.dragTable{
    font-size:12px;
    border:1px solid #eeeeee;
    border-top:1px solid #3366cc;
    margin-bottom: 10px;
    width:100%;
    background-color:#FFFFFF;
}
.dragTR{
    cursor:move;
    color:#7787cc;
    background-color:#e5eef9;
}
.nodragTR{
    color:#7787cc;
    background-color:#e5eef9;
}
.myborder1{
   border-top:2px #FFFFFF solid;
    border-left:2px #FFFFFF solid;
	 border-right:2px #FFFFFF solid;
   }
.myborder2{
   border-bottom:2px #FFFFFF solid;
    border-left:2px #FFFFFF solid;
	 border-right:2px #FFFFFF solid;
   }
.subpic{
	border: 1px solid #CCD7DF;
	min-width:265px;
	width:265px;
	height:150px;
	padding:1px;
	margin-top:2px;
	margin-bottom:2px;
}