body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.table3 {
	margin:5px;
	width:100%;
	border:1px solid #efefef;
}
.table3 th{
	background-color:#efefef;
}
.table3 tr{
	height:20px;
	background-color:#fff;
	border-bottom:1px solid #efefef;
	line-height:30px;
	text-align:left;
}
.table3 td{
	text-align:left;
	padding-left:5px;
}
.table3 tr:hover{
	background-color:#DDDDDD;
}