body{
	font-size: 12px;
	}
		.swfuploadbutton {
			display: inline;
			width: 100px;
			padding: 0 0 0 20px;
		}
		
		.browsebutton { background: url(iwork_img/upload/add.png) no-repeat 0 4px; }
		.uploadbutton { 
			display: none;
			background: url(iwork_img/upload/accept.png) no-repeat 0 4px; 
		}
		
		.cancelbtn { 
			display: block;
			width: 16px;
			height: 16px;
			float: right;
			background: url(iwork_img/upload/cancel.png) no-repeat; 
		}
		
		#cancelqueuebtn {
			display: block;
			display: none;
			background: url(iwork_img/upload/cancel.png) no-repeat 0 4px;
		}
		#SWFUploadFileListingFiles{
			border: #999 1px solid;
			width: 500px;
		}
		

		.SWFUploadFileItem {			
			width: 230px;
			height: 50px;
			float: left;
			background: #eaefea;
			margin: 0 10px 10px 0;
			padding: 5px;

		}

		.fileUploading { background: #fee727; }
		.uploadCompleted { background: #d2fa7c; }
		.uploadCancelled { background: #f77c7c; }
		
		.uploadCompleted .cancelbtn, .uploadCancelled .cancelbtn {
			display: none;
		}
		
		span.progressBar {
			width: 200px;
			display: block;
			font-size: 10px;
			height: 4px;
			margin-top: 2px;
			margin-bottom: 10px;
			background-color: #CCC;
		}
		
		#queueinfo{
			border: #999 1px solid;
			width:500px;
			height:20px;
			visibility:hidden;
			margin-bottom: 5px;
		}