		.td_title {
			color:#004080;
			font-size: 14px;
			text-align: right;
			letter-spacing: 0.1em;
			padding-right:10px;
			white-space:nowrap;
			vertical-align:middle;
			font-family:"Î¢ÈíÑÅºÚ";
			height:15px;
			}
		.td_data{
			color:#0000FF;
			text-align:left;
			padding-left:3px;
			font-size: 14px;
			vertical-align:middle;
			word-wrap:break-word;
			word-break:break-all;
			font-weight:500;
			line-height:14px;
			padding-top:5px;
			font-family:"Î¢ÈíÑÅºÚ";
			height:15px;
		}
		body {
			margin-left: 0px;
			margin-top: 0px;
			margin-right: 0px;
			margin-bottom: 0px;
		}