	body {
		margin-top: 8px;
		text-align: center;
		font-size: 14px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		background:#fff;
		}

	#calendar {
		width: 100%;
		margin: 0 auto;
		}