/* CSS Document */
@charset "utf-8";html{overflow-x:hidden;overflow-y:auto}body{font:12px/1.5 Tahoma, Helvetica, Arial, sans-serif;color:#666;background-color:#fff;}body,form,p,ol,ul,p,h1,h2,h3,h4,li,dt,dd,dl,li{margin:0;padding:0}img,fieldset{border:0}ul,dl,ol{list-style:none}em,cite{font-style:normal}a:link,a:visited{text-decoration:none;color:#333}a:hover{text-decoration:underline;color:#e00}.cl{clear:both}.lt{float:left}.rt{float:right}.wap{width:1000px;height:20px;margin-top:20px;margin-right:auto;margin-bottom:0px;margin-left:auto;background:url(../../../../iwork_img/login/default2/logo.png) no-repeat;}

.logo{padding:22px 0;}

.lo_ct{background:url(../../../../iwork_img/login/default2/background.gif);background-repeat:repeat-x}
.lo_bg{background:url(../../../../iwork_img/login/default2/showimg.jpg); height:330px; position:relative;}
.lo_showimg{background:url(../../../../iwork_img/login/default2/showimg.jpg) no-repeat #fff; height:330px; position:relative;}
.lo_list{background:#fff; overflow:hidden; position:absolute; right:35px; top:30px;border:1px solid #efefef; padding-top:20px; width:342px;-webkit-box-shadow:0 0 5px rgba(0,0,0,0.3); -moz-box-shadow:0 0 5px rgba(0,0,0,0.3); box-shadow:0 0 5px rgba(0,0,0,0.3);}
.lo_list li{padding:10px 30px; line-height:20px; overflow:hidden; zoom:1;}
.lo_list li.spot_item{}
.lo_list li.spot_item input{ background:none; font-size:12px; font-family:ו;height:16px;color:#ccc;border:#d9d9d9 solid 1px; width:60px; padding:8px 10px; color:#666;}
.lo_list li.spot_item input:hover{ background:none; border:1px solid #ff9933}
.lo_list li.spot_item input:focus{ background:#ffffcc;}
.lo_list li input.us_name,.lo_list li input.us_pwd,.lo_list li input.us_spot{border:#d9d9d9 solid 1px; width:260px; padding:8px 10px; color:#666;}
.lo_list li input.us_spot{ width:130px;}
.lo_list li a.lo_bnt{display:block; width:280px; height:40px; line-height:40px; text-align:center; color:#fff; background:#ff9933; font-size:14px; text-decoration:none;}
.lo_list li a.lo_bnt:hover{background:#FF8000;} 
.lo_list li a.forget{color:#30aa00;}
.lo_list li a.free_join{line-height:40px; color:#30aa00;}
.lo_list li input.IsSave{margin-top:4px; _margin-top:0px; float:left;}
 
.lo_list li span.errotip{position:absolute; left:30px; top:5px; color:#ff3000;}
.identifier{width:60px;margin-left:10px; height:30px; overflow:hidden;}

.lo_list li.lo_copt{background:#f5f5f5; padding:10px;font-size:16px;ertical-align:middle; margin-top:15px; line-height:32px; font-size:14px;}
.lo_list li.lo_copt img{padding-right:5px;padding-left:5px;width:20px;display:block;float:left;}
.lo_list li.lo_copt p{line-height:18px;display:block;float:left;}
.lo_list li.lo_copt a{font-size:18px;color:#666;text-decoration:none;}

p.lo_bt{padding:15px 0; color:#9cc0a3; text-align:center; text-indent:-100px;}
p.lo_bt a:link,p.lo_bt a:visited{color:#9cc0a3;}

.lo_list_text{ position:relative; height:34px; overflow:hidden;}
.lo_list_text span{ position:absolute; top:10px; left:42px; line-height:36px; _line-height:34px; color:#999;}
.lo_list_text input{ position:absolute; top:10px; left:30px; z-index:2; z-index:20000\9; background:none; color:#333;}
.lo_ct .lo_list_text input:hover{ border:1px solid #ff9933;background:none}
.lo_ct .lo_list_text input:focus{ border:1px solid #ff9933;background:#ffffcc; }
.lo_list li input.IsSave{margin-top:0\9;}
.lo_list li a.forget{width:48px;}
.remberpass{color: #ff3000; float:left; width:148px; overflow:hidden; white-space:nowrap;}