body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.txtInput{
	width:130px;
	border:0px;
	border-bottom:1px #efefef solid;
	color:#2456EA;
}
.securityBtn{
	padding-left:5px;
	
}