
A {
	 FONT-SIZE: 13px; FONT-WEIGHT: 200
}
A:hover {
	COLOR: #565656
}

#Container {
	POSITION: relative; PADDING-BOTTOM: 30px; MARGIN: 0px auto 200px; PADDING-LEFT: 0px; WIDTH: 700px; PADDING-RIGHT: 0px; HEIGHT: auto; OVERFLOW: hidden; PADDING-TOP: 30px
}
.timeline_container {
	Z-INDEX: 50; TEXT-ALIGN: center; MARGIN: 0px auto; WIDTH: 29px; DISPLAY: block; HEIGHT: 100%; CURSOR: pointer
}
.timeline {
	POSITION: absolute; MARGIN: 0px auto; WIDTH: 4px; DISPLAY: block; BACKGROUND: #eeeeee; FLOAT: left; HEIGHT: 100%; FONT-SIZE: 0px; TOP: 0px; LEFT: 318px
}
.timeline DIV.plus {
	Z-INDEX: 5000; POSITION: absolute; WIDTH: 29px; BACKGROUND: url(../Images/timeline.png) 0px -36px; HEIGHT: 10px; TOP: 0px; LEFT: -11px
}
.timeline DIV.plus2 {
	POSITION: absolute; WIDTH: 10px; BOTTOM: 0px; BACKGROUND: url(../Images/timeline.png) -29px -26px; HEIGHT: 10px; LEFT: -3px
}
.leftCorner {
	Z-INDEX: 99; POSITION: absolute; WIDTH: 36px; DISPLAY: block; HEIGHT: 26px; OVERFLOW: hidden
}
.rightCorner {
	Z-INDEX: 99; POSITION: absolute; WIDTH: 36px; DISPLAY: block; HEIGHT: 26px; OVERFLOW: hidden
}
.rightCorner {
	BACKGROUND: url(../Images/timeline.png) 0px 0px; TOP:10px;  RIGHT: -36px
}
.leftCorner {
	BACKGROUND: url(../Images/timeline.png) -36px 0px; TOP: 45px; LEFT: -36px
}
.item {
	BORDER-BOTTOM: #eaeaea 1px solid; POSITION: relative; BORDER-LEFT: #eaeaea 1px solid; PADDING-BOTTOM: 5px; LINE-HEIGHT: 20px; MARGIN: 20px 30px 0px; MIN-HEIGHT: 30px; PADDING-LEFT: 15px; WIDTH: 228px; PADDING-RIGHT: 15px; DISPLAY: block; FONT-FAMILY: "Microsoft JhengHei", "Microsoft YaHei"; WORD-WRAP: break-word; BACKGROUND: #ffffff; FLOAT: left; FONT-SIZE: 13px; BORDER-TOP: #eaeaea 1px solid; BORDER-RIGHT: #eaeaea 1px solid; PADDING-TOP: 15px; box-shadow: 0px 1px 8px rgba(202, 202, 202, 0.3)
}
.item:hover {
	border:1px solid #ccc;
	CURSOR: pointer;
}
.item H3 {
	LINE-HEIGHT: 30px; WIDTH: 228px; DISPLAY: block; HEIGHT: 30px; FONT-WEIGHT: normal;
	border-bottom:1px solid #efefef;
}
.item H3 .fl {
	FLOAT: left; COLOR: #999; FONT-SIZE: 12px;font-weight:100;
}
.item H3 .fr {
	TEXT-ALIGN: right; FLOAT: right; COLOR: #999; FONT-SIZE: 12px
}
.item P.con {
	BORDER-BOTTOM: #ececec 1px dashed; PADDING-BOTTOM: 15px; LINE-HEIGHT: 30px; WIDTH: 228px; DISPLAY: block; color:red; BORDER-TOP: #ececec 1px dashed; FONT-WEIGHT: normal; PADDING-TOP: 15px
}
.item P.con span{
	color:#999;
}
.item P.con span:a{
	color:#999;
}
.item P {
	TEXT-INDENT: 2em
}
.memoinfo{
	text-align:right;
	color:#cccccc;
	font-size:10px;
	font-weight:200;
}
.actionTitle {
	PADDING-BOTTOM: 3px; PADDING-LEFT:15px; PADDING-RIGHT: 0px; DISPLAY: block; 
	border-bottom:0px;
	font-weight:blod;
}

.item A.dan_title {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 30px; PADDING-LEFT: 38px; PADDING-RIGHT: 0px; DISPLAY: inline-block; BACKGROUND: url(../Images/dan.png) no-repeat 0px 0px; HEIGHT: 30px; FONT-SIZE: 16px; FONT-WEIGHT: 600; PADDING-TOP: 5px
}
.item A.dan_title:hover {
	BACKGROUND-POSITION: 0px -40px; COLOR: #f061dd
}
.item .dan_content {
	BORDER-BOTTOM: #cecece 1px solid; PADDING-BOTTOM: 10px; LINE-HEIGHT: 25px; PADDING-LEFT: 0px; WIDTH: 228px; PADDING-RIGHT: 0px; DISPLAY: block; FONT-SIZE: 13px; OVERFLOW: hidden; BORDER-TOP: #cecece 1px solid; PADDING-TOP: 10px
}
.item .dan_content EMBED {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 5px auto; DISPLAY: block; BACKGROUND: url(../Images/Load.gif) no-repeat center center; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}



