 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
HTML {
	OVERFLOW-Y: scroll;
	OVERFLOW-X: hidden;
}
A:link {
	COLOR: #333333; TEXT-DECORATION: none
}
A:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
A:active {
	COLOR: #3333ff; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
.panel {
	BACKGROUND: #d6e4ef; COLOR: #333333
}
#expand_link {
	FONT-SIZE: 9pt; LEFT: 140px; POSITION: absolute; TOP: 6px; TEXT-DECORATION: underline
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 16px; BORDER-BOTTOM: 0px; HEIGHT: 16px;vertical-align:middle;
}
#body {
	BORDER-RIGHT: #154b76 1px solid; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #70a4cf; PADDING-BOTTOM: 10px; BORDER-LEFT: #154b76 1px solid;PADDING-TOP: 5px
}
#menu {
	BORDER-RIGHT: #246191 1px solid; BORDER-TOP: #246191 1px solid; BACKGROUND: #ffffff; BORDER-LEFT: #246191 1px solid; BORDER-BOTTOM: medium none
}
.U1 {
	BACKGROUND: #ffffff; BORDER-BOTTOM: #246191 1px solid;
	list-style-type:none; 
	list-style-image: url(/blog/images/icon.gif);
}
.L1 A:link {
	DISPLAY: block;
	FONT-SIZE: 9pt;
	BACKGROUND: url(../img/img/menu1_bg.png);
	COLOR: #476074; HEIGHT: 24px;
	TEXT-DECORATION: none;
}
.L1 A:visited {
	DISPLAY: block;
	FONT-SIZE: 9pt;
	BACKGROUND: url(../img/img/menu1_bg.png);
	COLOR: #476074; HEIGHT: 24px;
    TEXT-DECORATION: none
}
.L1 A:link SPAN {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 16px;  
	BACKGROUND: url(../img/ico/ar1.png) no-repeat 2px 5px; 
	VERTICAL-ALIGN: middle; 
	WIDTH: 100%; 
	CURSOR: hand;  
	HEIGHT: 24px;
}
.L1 A:visited SPAN {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 16px;
	BACKGROUND: url(../img/ico/ar1.png) no-repeat  2px 5px;
	PADDING-BOTTOM: 0px;
	VERTICAL-ALIGN: middle; 
	WIDTH: 100%; 
	CURSOR: hand;  
	HEIGHT: 24px
}
.L1 A:hover {
	FONT-WEIGHT: bold; 
	BACKGROUND: url(../img/img/menu1_bg.png) 0px -24px; 
	COLOR: #000000;
}
.L1 A.active:link {
	BACKGROUND: url(../img/img/menu1_bg.png) 0px -24px;
}
.L1 A.active:hover {
	BACKGROUND: url(../img/img/menu1_bg.png) 0px -24px
}
.L1 A.active:active {
	BACKGROUND: url(../img/img/menu1_bg.png) 0px -24px;
}
.L1 A.active:visited {
	BACKGROUND: url(../img/img/menu1_bg.png) 0px -24px
}
.L1 A.active:link SPAN {
	FONT-WEIGHT: bold; BACKGROUND: url(../img/ico/ad1.png) no-repeat left 5px; COLOR: #333333
}
.L1 A.active:hover SPAN {
	FONT-WEIGHT: bold; BACKGROUND: url(../img/ico/ad1.png) no-repeat left 5px; COLOR: #333333
}
.L1 A.active:active SPAN {
	FONT-WEIGHT: bold; BACKGROUND: url(../img/ico/ad1.png) no-repeat left 5px; COLOR: #333333
}
.L1 A.active:visited SPAN {
	FONT-WEIGHT: bold; BACKGROUND: url(../img/ico/ad1.png) no-repeat left 5px; COLOR: #333333
}
.L21 A:link {
	DISPLAY: block; PADDING-LEFT: 13px;PADDING-top: 3px; FONT-SIZE: 9pt; COLOR: #444659; HEIGHT: 20px; TEXT-DECORATION: none;	border-bottom:1px #efefef solid;
}

.L21 A:visited {
	DISPLAY: block; PADDING-LEFT: 13px;PADDING-top: 3px;PADDING-top: 8px; FONT-SIZE: 9pt; COLOR: #444659; HEIGHT: 20px; TEXT-DECORATION: none
}
.L22 A:link {
	DISPLAY: block; PADDING-LEFT: 13px;PADDING-top: 3px; FONT-SIZE: 9pt; COLOR: #444659; HEIGHT: 20px; TEXT-DECORATION: none;border-bottom:1px #efefef solid;
}
.L22 A:visited {
	DISPLAY: block; PADDING-LEFT: 13px;PADDING-top: 3px; FONT-SIZE: 9pt; COLOR: #444659; HEIGHT: 20px; TEXT-DECORATION: none
}
.L3 A:link {
	DISPLAY: block; PADDING-LEFT: 13px;PADDING-top: 3px; FONT-SIZE: 9pt; COLOR: #444659; HEIGHT: 20px; TEXT-DECORATION: none;border-bottom:1px #efefef solid;
}
.L3 A:visited {
	DISPLAY: block; PADDING-LEFT: 13px;PADDING-top: 3px; FONT-SIZE: 9pt; COLOR: #444659; HEIGHT: 20px; TEXT-DECORATION: none
}
.L21 A:link SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px;PADDING-top: 3px; BACKGROUND: url(../img/ico/ar.png) no-repeat left 1px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: bottom; WIDTH: 100%; CURSOR: hand; 
}
.L21 A:visited SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px;PADDING-top: 3px; BACKGROUND: url(../img/ico/ar.png) no-repeat left 1px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: bottom; WIDTH: 100%; CURSOR: hand; 
}
.L22 A:link SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px;PADDING-top: 3px; BACKGROUND: url(../img/ico/ar.png) no-repeat left 1px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: bottom; WIDTH: 100%; CURSOR: hand; 
}
.L22 A:visited SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px;PADDING-top: 3px; BACKGROUND: url(../img/ico/ar.png) no-repeat left 1px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: bottom; WIDTH: 100%; CURSOR: hand; 
}
.L3 A:link SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px;PADDING-top: 3px; BACKGROUND: url(../img/ico/ar.png) no-repeat left 1px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: bottom; WIDTH: 100%; CURSOR: hand; 
}
.L3 A:visited SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px;PADDING-top: 3px; BACKGROUND: url(../img/ico/ar.png) no-repeat left 1px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: bottom; WIDTH: 100%; CURSOR: hand; 
}
.L22 A:link SPAN {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.L22 A:visited SPAN {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.L3 A:link SPAN {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.L3 A:visited SPAN {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.L21 A:hover {
	FONT-WEIGHT: bold;background-color:#F4E4BE;
}
.L22 A:hover {
	FONT-WEIGHT: bold;background-color:#F4E4BE;
}
.L3 A:hover {
	FONT-WEIGHT: bold;background-color:#F4E4BE;
}
.L3 A:link SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 26px; PADDING-BOTTOM: 0px; 
}
.L3 A:visited SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 26px; PADDING-BOTTOM: 0px; 
}
.L21 A.active:link {
	BACKGROUND: red transparent scroll repeat 0% 0%
}
.L21 A.active:hover {
	BACKGROUND: red transparent scroll repeat 0% 0%
}
.L21 A.active:active {
	BACKGROUND: red transparent scroll repeat 0% 0%
}
.L21 A.active:visited {
	BACKGROUND: red transparent scroll repeat 0% 0%
}
.L21 A.active:link SPAN {
	FONT-WEIGHT: bold; BACKGROUND: url(../img/ico/ad.png) no-repeat left 1px; COLOR: #333333
}
.L21 A.active:hover SPAN {
	FONT-WEIGHT: bold; BACKGROUND: url(../img/ico/ad.png) no-repeat left 1px; COLOR: #333333
}
.L21 A.active:active SPAN {
	FONT-WEIGHT: bold; BACKGROUND: url(../img/ico/ad.png) no-repeat left 1px; COLOR: #333333
}
.L21 A.active:visited SPAN {
	FONT-WEIGHT: bold; BACKGROUND: url(../img/ico/ad.png) no-repeat left 1px; COLOR: #333333
}
.L22 A.active:link {
	FONT-WEIGHT: bold;background-color:#F4E4BE;color:
}
.L22 A.active:hover {
	FONT-WEIGHT: bold;background-color:#F4E4BE;
}
.L22 A.active:active {
	FONT-WEIGHT: bold;background-color:#F4E4BE;
}
.L22 A.active:visited {
	FONT-WEIGHT: bold;background-color:#F4E4BE;
}
.L3 A.active:link {
	FONT-WEIGHT: bold;background-color:#F4E4BE;
}
.L3 A.active:hover {
	FONT-WEIGHT: bold;background-color:#F4E4BE;
}
.L3 A.active:active {
	FONT-WEIGHT: bold;background-color:#F4E4BE;
}
.L3 A.active:visited {
	FONT-WEIGHT: bold;background-color:#F4E4BE;
	color:#000000;
}
.L22 A.active:link SPAN {
	FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #333333
}
.L22 A.active:hover SPAN {
	FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #333333
}
.L22 A.active:active SPAN {
	FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #333333
}
.L22 A.active:visited SPAN {
	FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #333333
}
.L3 A.active:link SPAN {
	FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #333333
}
.L3 A.active:hover SPAN {
	FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #333333
}
.L3 A.active:active SPAN {
	FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #333333
}
.L3 A.active:visited SPAN {
	FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #333333
}
.Ls A:link {
	PADDING-RIGHT: 4px; FONT-SIZE: 9pt; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 4px; HEIGHT: 20px; TEXT-ALIGN: right; TEXT-DECORATION: underline
}
.Ls A:visited {
	PADDING-RIGHT: 4px; FONT-SIZE: 9pt; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 4px; HEIGHT: 20px; TEXT-ALIGN: right; TEXT-DECORATION: underline
}
.Ls A:hover {
	PADDING-RIGHT: 4px; FONT-SIZE: 9pt; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 4px; HEIGHT: 20px; TEXT-ALIGN: right; TEXT-DECORATION: underline
}
.Ls A:active {
	PADDING-RIGHT: 4px; FONT-SIZE: 9pt; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 4px; HEIGHT: 20px; TEXT-ALIGN: right; TEXT-DECORATION: underline
}
#bottom {
	BACKGROUND: url(../img/img/menu_bottom_bg.gif) no-repeat; HEIGHT: 80px;
	background-position: right -15px;
}
#top {
		BORDER-RIGHT: #154b76 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND:#f1f8fa; PADDING-BOTTOM: 10px; BORDER-LEFT: #154b76 1px solid; WIDTH:159px;	
	BACKGROUND: url(../img/img/statusbar.png); HEIGHT: 15px
}